{% extends "./base.html" %}
{% block title %} Blog Posts {% endblock %}
{% block content %}
<h1 class="pt-4 ps-3 mb-5">Recent Posts</h1>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

    {% for post in posts.all %}
    <div class="col">
        <div class="mb-2 card shadow-sm">
            <a class="mb-2" href="{% url 'specific_post' post.id %}"><h2>{{post.title}}</h2></a>
            <img src="{{post.image.url}}" height=300 width=300 class="img-fluid mb-2"/>
            <p>{{post.get_summary}}</p>
            <span>{{post.date}}</span>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

